#      DO NOT CHANGE THIS FILE     #
# FILE WAS GENERATED AUTOMATICALLY #

from def_generator.events import EventHook

from def_generator.decorators import unpack_func_args, unpack_variables

{% for arg in entity.implements %}
try:
    from interfaces.{{arg}} import {{arg}}
except:
    from {{arg}} import {{arg}}
{% endfor %}


class {{entity.name}}({% if not entity.implements %}object{% endif %}{% for arg in entity.implements %}{{arg}}{% if not loop.last %}, {% endif %}{% endfor %}):
    {% for method in entity.methods %}
    g_{{method.name}} = EventHook()
    {% endfor %}
    def __init__(self):
        self.id = None
        self.position = None

{% for property in entity.properties %}
        self._{{property.name}} = {{property.default_value.__repr__()}}
{% endfor %}

        # MRO fix
{% for arg in entity.implements %}
        {{arg}}.__init__(self)
{% endfor %}
        return

    ####################################
    #      METHODS
    ####################################

{% for method in entity.methods %}
    @unpack_func_args({{method.arguments}})
    def {{method.name}}(self{% if method.arguments %}, {% endif %}{% for arg in method.arguments %}arg{{loop.index}}{% if not loop.last %}, {% endif %}{% endfor %}):
        self.g_{{method.name}}.fire(self{% if method.arguments %}, {% endif %}{% for arg in method.arguments %}arg{{loop.index}}{% if not loop.last %}, {% endif %}{% endfor %})
{% endfor %}

    ####################################
    #       PROPERTIES
    ####################################

{% for property in entity.properties %}
    @property
    def {{property.name}}(self):
        return self._{{property.name}}

    @{{property.name}}.setter
    def {{property.name}}(self, value):
        self._{{property.name}}, = unpack_variables(value, {{property.argument}})
{% endfor %}

    def __repr__(self):
        return "<{}> {}".format(self.__class__.__name__, self.__dict__)